{% extends 'base.html.twig' %}

{% block title %}Atelier{% endblock %}

{% block body %}

<section>
    <div class="ban"> 
        <div class="ban-image">
        <img src="{{ asset('image/ban/atelier.png') }}" alt="Image de l'atelier" class="atelier"> 
        </div>
    </div> 
</section>

<section>
    <div class="card-container">
        <div class="card">
            <img src="{{ asset('image/atelier_pot.png') }}" alt="Description of Image 1">
            <h3>Ateliers de Poterie</h3></br>
            <p>Découvrez l'art de la poterie avec nos ateliers dédiés. Apprenez à façonner l'argile, à utiliser le tour de potier, et à réaliser des pièces uniques sous les conseils avisés de nos artisans potiers. Que ce soit pour créer des vases, des bols ou des sculptures, nos ateliers de poterie vous offrent une expérience tactile et apaisante, propice à la relaxation et à la satisfaction de créer de vos propres mains.</p>
        </div>
        <div class="card">
            <img src="{{ asset('image/jeux_chat.png') }}" alt="Description of Image 2">
            <h3>Ateliers de Jeux de Société</h3>
            <p>Pour ceux qui aiment les défis intellectuels et les moments de partage, nos ateliers de jeux de société sont parfaits. Découvrez des jeux classiques ou modernes, et profitez d'une ambiance conviviale pour des parties passionnantes entre amis ou avec d'autres passionnés. Nos animateurs vous expliqueront les règles et vous aideront à tirer le meilleur de chaque session de jeu.</p>
        </div>
        <div class="card">
            <img src="{{ asset('image/tableau_chat.png') }}" alt="Description of Image 3">
            <h3>Ateliers de Peinture et de dessins</h3>
            <p>Laissez libre cours à votre imagination avec nos ateliers de peinture et de dessin avec une IA sur une tablette. Que vous soyez un artiste en herbe ou un peintre confirmé, nos sessions vous offrent l'opportunité d'explorer diverses techniques et styles. Sous la guidance de nos artistes expérimentés, vous pourrez créer des œuvres uniques et exprimer votre créativité dans une ambiance détendue et inspirante.</p>
        </div>

    </div>
    <div class="card-container">
        <div class="card">
             <img src="{{ asset('image/atelier_pot.png') }}" alt="Description of Image 1">
            <h3>Ateliers de Poterie</h3>
            <p>Découvrez l'art de la poterie avec nos ateliers dédiés. Apprenez à façonner l'argile, à utiliser le tour de potier, et à réaliser des pièces uniques sous les conseils avisés de nos artisans potiers. Que ce soit pour créer des vases, des bols ou des sculptures, nos ateliers de poterie vous offrent une expérience tactile et apaisante, propice à la relaxation et à la satisfaction de créer de vos propres mains.</p>
        </div>
        <div class="card">
            <img src="{{ asset('image/jeux_chat.png') }}" alt="Description of Image 2">
            <h3>Ateliers de Jeux de Société</h3>
            <p>Pour ceux qui aiment les défis intellectuels et les moments de partage, nos ateliers de jeux de société sont parfaits. Découvrez des jeux classiques ou modernes, et profitez d'une ambiance conviviale pour des parties passionnantes entre amis ou avec d'autres passionnés. Nos animateurs vous expliqueront les règles et vous aideront à tirer le meilleur de chaque session de jeu.</p>
        </div>
        <div class="card">
            <img src="{{ asset('image/tableau_chat.png') }}" alt="Description of Image 3">
            <h3>Ateliers de Peinture et de dessins</h3>
            <p>Laissez libre cours à votre imagination avec nos ateliers de peinture et de dessin avec une IA sur une tablette. Que vous soyez un artiste en herbe ou un peintre confirmé, nos sessions vous offrent l'opportunité d'explorer diverses techniques et styles. Sous la guidance de nos artistes expérimentés, vous pourrez créer des œuvres uniques et exprimer votre créativité dans une ambiance détendue et inspirante.</p>
        </div>
    </div>
</section>


{% endblock %}
