{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

{% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
{% endblock %}

<section>
      <div class="ban" style="position: relative;"> 
          <img src="{{ asset('image/ban/Coffee_shop.png') }}" alt="Texte alternatif" class="img-fluid mx-auto d-block" style="width: 90%; border-radius: 60px; "> 
      </div></br>
</section>

<section>
     <div class="container"> 
        <div class="image-container" style="width: 100%; height: 400px; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; margin: 10px 0;">
        <img src="{{ asset('image/place.png') }}" alt="Image 1" style="width: 225px; height: 230px; margin-right: 10px;">
        <img src="{{ asset('image/tableau_chat.png') }}" alt="Image 2" style="width: 225px; height: 230px; margin-right: 10px;">
        <img src="{{ asset('image/jeux_chat.png') }}" alt="Image 3" style="width: 225px; height: 230px; margin-right: 10px;">
        <img src="{{ asset('image/atelier_pot.png') }}" alt="Image 3" style="width: 225px; height: 230px; margin-right: 10px;">
            <div style="width: 100%; height: 15px;"></div>
        <img src="{{ asset('image/calendrier.png') }}" alt="Image 4" style="width: 225px; height: 230px; margin-right: 10px;">
        <img src="{{ asset('image/jeux_chats.png') }}" alt="Image 5" style="width: 225px; height: 230px; margin-right: 10px;">
        <img src="{{ asset('image/coeur.png') }}" alt="Image 6" style="width: 225px; height: 230px; margin-right: 10px;">
        <img src="{{ asset('image/atelier_pot2.png') }}" alt="Image 3" style="width: 240px; height: 230px; margin-right: 10px;">
        </div>
    </div></br>
      <div class="text-content" style="text-align: justify; font-size: 1.75rem;  margin-top: 70px">
        <div class="container">
          <h3 style="text-align: center;">Chatelier</h3>
          <p>Bienvenue dans notre espace dédié à la créativité et à l'expression artistique et un lieu de rencontre, de partage et de convivialité. Chez La Cour des Chats, nous sommes fiers d'offrir une gamme d'ateliers stimulants où chacun peut laisser libre cours à son imagination et explorer son côté artistique. Découvrez nos ateliers de peinture, de poterie et de création de colliers, conçus pour inspirer et émerveiller.</p>  
          <div class="row">
            <div class="col-md-12 text-center">
              <a  href="{{path('app_atelier')}}" class="btn btn-dark">Chatelier</a> 
            </div>
          </div>
        </div>
      </div>
</section></br>  

  
<section style="background-color: #FFFFFF;">
  <div class="container">
    <div class="row">
        <div class="d-flex align-items-center">
          <img src="{{ asset('image/flyer/Boisson.png') }}" style="width: 450px; height: 350px;" alt="flyer des boissons" class="me-3" />
          <div class="container" >
            <h2>Boissons</h2>
            <p style="text-align: justify; font-size: 1.55rem;">Chaque gorgée est une invitation à la détente et au plaisir. Chez La Cour des Chats, nous mettons un point d'honneur à offrir une sélection variée et raffinée qui saura satisfaire tous les palais.</p>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="{{path('app_tarif')}}" class="btn btn-dark">Les Boissons </a>
      </div>
    </div>
  </div></br>
</section>

<section >
  <div class="container">
    <div class="row">
        <div class="d-flex align-items-center">
          <div class="container" >
            <h2>Gourmandises</h2>
            <p style="text-align: justify; font-size: 1.55rem;">Un véritable paradis pour les amateurs de délices sucrés et salés. Chez La Cour des Chats, nous vous proposons une variété de gourmandises faites maison, ainsi que des classiques irrésistibles, afin de satisfaire toutes vos envies gourmandes.</p> 
          </div>
          <img src="{{ asset('image/flyer/Gourmandise.png') }}" style="width: 450px; height: 350px;" alt="flyer des gourmandises" class="me-3" />
        </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="{{path('app_tarif')}}" class="btn btn-dark">Les Gourmandises</a>
      </div>
    </div>
  </div></br>
</section>

<section style="background-color: #FFFFFF;">
  <div class="container">
    <div class="row">
        <div class="d-flex align-items-center">
          <img src="{{ asset('image/flyer/chat.png') }}" style="width: 450px; height: 350px;" alt="flyer des chats" class="me-3" />
          <div class="container" >
            <h2>Les chats</h2>
            <p style="text-align: justify; font-size: 1.55rem;">Au cœur de notre établissement, vous trouverez des amis à quatre pattes tout aussi accueillants que nos boissons et gourmandises. Chez La Cour des Chats, nous avons le plaisir d'accueillir une joyeuse bande de félins, prêts à vous offrir compagnie et câlins tout au long de votre visite.</p>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="{{path('app_chats')}}" class="btn btn-dark">Les chats</a>
      </div>
    </div>
  </div></br>
</section>  

<section>
  <div class="ban" style="position: relative;"> 
    <img src="{{ asset('image/ban/atelier.png') }}" alt="Texte alternatif" class="img-fluid mx-auto d-block" style="width: 69%; border-radius: 60px; ">
  </div></br>
</section>

<section>
  <div class="card-container">
      <div class="card">
          <img src="{{ asset('image/atelier_pot.png') }}" alt="atelier de poterie">
          <h3>Ateliers de Poterie</h3></br>
          <p>Découvrez l'art de la poterie avec nos ateliers dédiés. Apprenez à façonner l'argile, à utiliser le tour de potier, et à réaliser des pièces uniques sous les conseils avisés de nos artisans potiers. Que ce soit pour créer des vases, des bols ou des sculptures, nos ateliers de poterie vous offrent une expérience tactile et apaisante, propice à la relaxation et à la satisfaction de créer de vos propres mains.</p>
      </div>
      <div class="card">
          <img src="{{ asset('image/jeux_chat.png') }}" alt="ateliers de jeux de société">
          <h3>Ateliers de Jeux de Société</h3>
          <p>Pour ceux qui aiment les défis intellectuels et les moments de partage, nos ateliers de jeux de société sont parfaits. Découvrez des jeux classiques ou modernes, et profitez d'une ambiance conviviale pour des parties passionnantes entre amis ou avec d'autres passionnés. Nos animateurs vous expliqueront les règles et vous aideront à tirer le meilleur de chaque session de jeu.</p>
      </div>
      <div class="card">
          <img src="{{ asset('image/tableau_chat.png') }}" alt="atelier de peintures">
          <h3>Ateliers de Peinture et de dessins</h3>
          <p>Laissez libre cours à votre imagination avec nos ateliers de peinture et de dessin avec une IA sur une tablette. Que vous soyez un artiste en herbe ou un peintre confirmé, nos sessions vous offrent l'opportunité d'explorer diverses techniques et styles. Sous la guidance de nos artistes expérimentés, vous pourrez créer des œuvres uniques et exprimer votre créativité dans une ambiance détendue et inspirante.</p>
      </div>
  </div>
</section>


<footer style="background-color: black; color: white; padding: 20px; display: flex; justify-content: space-between; align-items: flex-start;">
    <!-- Logo de la Cour des Chats -->
    <div style="text-align: left;">
        <img src="{{ asset('image/footer.png') }}" alt="Logo de la Cour des Chats" style="width: 100px;">
        <p>© 2024 - La Cour des Chats</p>
    </div>
    <!-- Liens  -->
    <div style="text-align: center; width: 25%;">
        <h3>Liens utiles</h3>
        <ul style="list-style-type: none;">
            <li><a href="#accueil" style="color: white; text-decoration: none;">Accueil</a></li>
            <li><a href="#services" style="color: white; text-decoration: none;">Services</a></li>
            <li><a href="#tarifs" style="color: white; text-decoration: none;">Tarifs</a></li>
            <li><a href="#contact" style="color: white; text-decoration: none;">Contact</a></li>
        </ul>
    </div>
    <!-- Carte  -->
    <div style="text-align: right; width: 30%;">
        <h3>Nous trouver</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2746.7746384183043!2d0.6891786160528681!3d47.39081563373817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47fbeafa472f2a79%3A0x292585c8a66c3aa4!2s18%20Rue%20Gambetta%2C%2037000%20Tours!5e0!3m2!1sen!2sfr!4v1642957881533!5m2!1sen!2sfr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</footer>

{% endblock %}