{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

{% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('assets/styles/app.css') }}">
{% endblock %}

<div class="example-wrapper">
    <img src="{{ asset('image/ban/Coffee_shop.png') }}" alt="Texte alternatif" style="width: 100%; margin-bottom: 20px;">   <br>
   
    <div class="container">
        <p style="text-align: center;">lLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </div>
    <hr class="separator" style="border: 1; border-top: 13px solid #8B4513; margin: 2rem 0;">
</div>

    <div class="container">
        <div class="image-container" style="width: 100%; height: 400px; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; margin: 10px 0;">
            <img src="{{ asset('image/place.png') }}" alt="Image 1" style="width: 220px; height: 237px; margin-right: 10px;">
            <img src="{{ asset('image/tableau_chat.png') }}" alt="Image 2" style="width: 220px; height: 237px; margin-right: 10px;">
            <img src="{{ asset('image/jeux_chat.png') }}" alt="Image 3" style="width: 220px; height: 237px; margin-right: 10px;">
                <div style="width: 100%; height: 15px;"></div>
            <img src="{{ asset('image/calendrier.png') }}" alt="Image 4" style="width: 220px; height: 237px; margin-right: 10px;">
            <img src="{{ asset('image/jeux_chats.png') }}" alt="Image 5" style="width: 220px; height: 237px; margin-right: 10px;">
            <img src="{{ asset('image/coeur.png') }}" alt="Image 6" style="width: 220px; height: 237px; margin-right: 10px;">
        </div><br /> <br />
    </div><br />

    <hr class="separator" style="border: 1; border-top: 13px solid #8B4513; margin: 2rem 0;"> 

<div class="container">

    <p>lLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. lLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. lLorem ipsum dolor sit amet, consectetur adipiscing .</p>
</div>

<div class="container">

    <p>lLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. lLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. lLorem ipsum dolor sit amet, consectetur adipiscing .</p>
        <p>lLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. lLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. lLorem ipsum dolor sit amet, consectetur adipiscing .</p>
            <p>lLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. lLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. lLorem ipsum dolor sit amet, consectetur adipiscing .</p>
</div>
{% endblock %}