{% extends 'base.html.twig' %}

{% block title %}Accueil - La Cour des Chats{% endblock %}

{% block body %}

<section>
  <div class="ban"> 
      <img src="{{ asset('image/ban/Coffee_shop.png') }}" alt="Texte alternatif" class="img-fluid mx-auto d-block ban-image"> 
  </div>
</section>
<section>
  <div class="container"> 
    <div class="image-container">
      <img src="{{ asset('image/tableau_chat.png') }}" alt="Image d'un tableau" class="image-item">
      <img src="{{ asset('image/jeux_chat.png') }}" alt="Image de jeux" class="image-item">
      {# <img src="{{ asset('image/calendrier.png') }}" alt="Image de calendrier " class="image-item hide-on-mobile">
      <img src="{{ asset('image/coeur.png') }}" alt="Image de potrie" class="image-item hide-on-mobile">
    </div> #}
  </div>
  <div class="text-content">
    <h2 class="chatelier">Chatelier</h2>
    <p>Bienvenue dans notre espace dédié à la créativité...</p>
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="{{ path('app_atelier') }}" class="btn btn-dark chatelier-button" type="button">Chatelier</a>
      </div>
    </div>
  </div>
</section>

<section class="white-background">
  <div class="container">
      <div class="d-flex align-items-center">
        <img src="{{ asset('image/flyer/Boisson.png') }}" alt="flyer des boissons" class="flyer-image me-3">
        <div>
          <h2>Boissons</h2>
          <p>Chaque gorgée est une invitation...</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="{{ path('app_tarif') }}" class="btn btn-dark boissons-button">Les Boissons </a>
      </div>
  </div>
</section>


<section>
  <div class="container">
      <div class="d-flex align-items-center">
        <div>
            <h2>Gourmandises</h2>
            <p>Un véritable paradis pour les amateurs de délices sucrés et salés.</p> 
        </div>
        <img src="{{ asset('image/flyer/Gourmandise.png') }}" alt="flyer des gourmandises" class="flyer-image me-3" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="{{path('app_tarif')}}"  class="btn btn-dark gourmandises-button">Les Gourmandises</a>
      </div>
  </div>
</section>

<section class="white-background">
  <div class="container">
      <div class="d-flex align-items-center">
        <img src="{{ asset('image/flyer/chat.png') }}" alt="flyer des chats" class="flyer-image me-3" />
        <div>
            <h2>Les chats</h2>
            <p>Nous avons le plaisir d'accueillir une joyeuse bande de félins.</p></br>
        </div>
      </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="{{path('app_chats')}}" class="btn btn-dark les-chats-button">Les chats</a>
      </div>
    </div>
  </div>
</section>  


{% endblock %}