{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<section>
  <div class="ban"> 
      <img src="{{ asset('image/ban/Coffee_shop.png') }}" alt="Texte alternatif" class="img-fluid mx-auto d-block ban-image"> 
  </div>
</section>

<section>
  <div class="container"> 
    <div class="image-container">
      <img src="{{ asset('image/place.png') }}" alt="Image 1" class="image-item">
      <img src="{{ asset('image/tableau_chat.png') }}" alt="Image 2" class="image-item">
      <img src="{{ asset('image/jeux_chat.png') }}" alt="Image 3" class="image-item">
      <img src="{{ asset('image/atelier_pot.png') }}" alt="Image 3" class="image-item">
      <div class="spacer"></div>
      <img src="{{ asset('image/calendrier.png') }}" alt="Image 4" class="image-item">
      <img src="{{ asset('image/jeux_chats.png') }}" alt="Image 5" class="image-item">
      <img src="{{ asset('image/coeur.png') }}" alt="Image 6" class="image-item">
      <img src="{{ asset('image/atelier_pot2.png') }}" alt="Image 3" class="image-item">
    </div>
  </div>
  <div class="text-content">
    <div class="container">
      <h3 class="text-center">Chatelier</h3>
      <p>Bienvenue dans notre espace dédié à la créativité et à l'expression artistique et un lieu de rencontre, de partage et de convivialité. Chez La Cour des Chats, nous sommes fiers d'offrir une gamme d'ateliers stimulants où chacun peut laisser libre cours à son imagination et explorer son côté artistique. Découvrez nos ateliers de peinture, de poterie et de création de colliers, conçus pour inspirer et émerveiller.</p>  
      <div class="row">
        <div class="col-md-12 text-center">
          <a  href="{{path('app_atelier')}}" class="btn btn-dark">Chatelier</a> 
        </div>
      </div>
    </div>
  </div>
</section>

<section class="white-background">
  <div class="container">
    <div class="row">
      <div class="d-flex align-items-center">
        <img src="{{ asset('image/flyer/Boisson.png') }}" alt="flyer des boissons" class="flyer-image me-3">
        <div class="container">
          <h2>Boissons</h2>
          <p>Chaque gorgée est une invitation à la détente et au plaisir. Chez La Cour des Chats, nous mettons un point d'honneur à offrir une sélection variée et raffinée qui saura satisfaire tous les palais.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="{{path('app_tarif')}}" class="btn btn-dark">Les Boissons </a>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="d-flex align-items-center">
        <div class="container">
          <h2>Gourmandises</h2>
          <p>Un véritable paradis pour les amateurs de délices sucrés et salés. Chez La Cour des Chats, nous vous proposons une variété de gourmandises faites maison, ainsi que des classiques irrésistibles, afin de satisfaire toutes vos envies gourmandes.</p> 
        </div>
        <img src="{{ asset('image/flyer/Gourmandise.png') }}" alt="flyer des gourmandises" class="flyer-image me-3" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="{{path('app_tarif')}}" class="btn btn-dark">Les Gourmandises</a>
      </div>
    </div>
  </div>
</section>

<section class="white-background">
  <div class="container">
    <div class="row">
      <div class="d-flex align-items-center">
        <img src="{{ asset('image/flyer/chat.png') }}" alt="flyer des chats" class="flyer-image me-3" />
        <div class="container">
          <h2>Les chats</h2>
          <p>Au cœur de notre établissement, vous trouverez des amis à quatre pattes tout aussi accueillants que nos boissons et gourmandises. Chez La Cour des Chats, nous avons le plaisir d'accueillir une joyeuse bande de félins, prêts à vous offrir compagnie et câlins tout au long de votre visite.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="{{path('app_chats')}}" class="btn btn-dark">Les chats</a>
      </div>
    </div>
  </div>
</section>  




<footer class="footer">
  <div class="footer-logo">
    <img src="{{ asset('image/footer.png') }}" alt="Logo de la Cour des Chats" class="footer-image">
    <p>© 2024 - La Cour des Chats</p>
  </div>
  <div class="footer-links">
    <h3>Liens utiles</h3>
    <ul>
      <li><a href="#accueil" class="footer-link">Accueil</a></li>
      <li><a href="#services" class="footer-link">Services</a></li>
      <li><a href="#tarifs" class="footer-link">Tarifs</a></li>
      <li><a href="#contact" class="footer-link">Contact</a></li>
    </ul>
  </div>
  <div class="footer-map">
    <h3>Nous trouver</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2746.7746384183043!2d0.6891786160528681!3d47.39081563373817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47fbeafa472f2a79%3A0x292585c8a66c3aa4!2s18%20Rue%20Gambetta%2C%2037000%20Tours!5e0!3m2!1sen!2sfr!4v1642957881533!5m2!1sen!2sfr" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
</footer>

{% endblock %}