{% extends 'base.html.twig' %}

{% block title %}Concept{% endblock %}

{% block body %}


<div class="containerr">
    <img src="{{ asset('image/ban/concept.png') }}" alt="Texte alternatif" class="img-fluid mx-auto d-block" style="width: 90%; border-radius: 60px; "></br>
   
    <div class="container">
        <p style="text-align: center; font-size: 1.15rem; margin-top: 10px;">Un bar à chats, tenu par un père et sa fille, vient tout juste d’ouvrir dans le centre de Tours. Boissons, petite restauration et adoption de petits félins possible.</p>
        <hr class="separator" style="border: 1; border-top: 13px solid #8B4513; margin: 7rem 0; margin-top: 50px;">  
    </div>
    
</div>


<section>
    <div class="container">
        <div class="row">
            <div class="col-7">
                <p style="text-align: justify; font-size: 1.15rem;  margin-top: 70px">Ici, les matous sont rois. Lorsque vous poussez la porte, il faut attendre le feu vert de Perrine ou de son père Régis, qui amène ses cinq magnifiques chats avec lui le matin pour venir travailler. Il y a des règles à suivre et pas de câlins imposés, ce sont les chats qui viendront vers vous ! La déco soignée, où tableaux félins et canapés côtoient un arbre à chat mural, invite à la détente, tout comme les vertus prouvées de la ronronthérapie ! On peut, en plus, jouer à des jeux de société en lien avec... les chats ! Ce qui ne gâche rien, c'est que les thés, cafés, chocolats (dont un sublime chocolat blanc) et boissons fraîches proposés sont de qualité, et les pâtisseries sont délicieuses !</p>
            </div>  
             <div class="col-5 d-flex align-items-center">
                <img src="{{ asset('image/.png') }}" alt="" class="img-fluid">
            </div>
        </div>
    </div>
 </section></br>

 <section>
 <div class="container">
    <div class="row">
        <h3>L'histoire du bar </h3>
        <p style="text-align: center; font-size: 1.50rem;  margin-top: 10px">Depuis 2021, Perrine Courrejou, 23 ans, et son père Régis, 54 ans, tiennent leur commerce : un café-chat. L’une n’était plus intéressée par ses études de droit, l’autre avait perdu son emploi à cause de la pandémie. La Cour des chats leur a permis de se rapprocher autant physiquement qu’émotionnellement.</p>
    </div>
</div>
    
 </section></br>

 <section>
    <div class="container">
        <div class="row">
             <div class="col-5 d-flex align-items-center">
                <img src="{{ asset('image/.png') }}" alt="" class="img-fluid">
            </div>      
             <div class="col-7">
                <p style="text-align: justify; font-size: 1.15rem;  margin-top: 70px">La « Cour des chats », c’est une histoire de famille. Au comptoir, Perrine et Régis, un père et sa fille, gèrent les commandes. L’idée a germé en 2021, alors que Perrine suivait tant bien que mal des cours en distanciel – Covid oblige. De son côté, Régis avait perdu son emploi suite à la pandémie. Tous deux décident d’ouvrir un nouveau chapitre de leur vie et de se reconvertir professionnellement. D’abord méfiant à l’égard de ces petites bêtes, Régis a finalement succombé. « Il en est complètement gaga et en a cinq à la maison », confie Perrine.</p>
                <p> Les deux propriétaires sont sur le qui-vive dès 7 h 30 du matin. Ils sont arrivés tôt, pour nettoyer le café et préparer les pâtisseries faites-maison (miam !), à base de produits locaux : « Selon la saison, on propose différents gâteaux : en été, ce sont des tartes aux fraises et en hiver des cinnamon rolls », explique Perrine. Si vous êtes patients (et chanceux), peut-être qu’un chat viendra se nicher sur vos genoux pour quémander une caresse ou deux.</p>
                <p>Le bien-être de leurs animaux est ce qui compte le plus pour Perrine. En entrant dans le café, quelques règles sont à respecter et on comprend bien que les chats sont les rois des lieux. Ils y sont totalement libres. Les animaux sont chouchoutés et dorlotés par leurs propriétaires et par la clientèle.</p>
            </div>  

        </div>
    </div>
 </section></br>

 <section>
  <div class="container">
    <div class="row">
        <p style="text-align: center; font-size: 1.35rem;  margin-top: 70px">Perrine, 22 ans, déjà famille d’accueil pour les chats chez elle, n’est pas seule dans cette aventure. Elle est accompagnée par son papa Régis, 53 ans. Cet ancien manager dans l’aéronautique, qui a signé une rupture de convention collective avec son employeur en raison de manque de contrats lié à la crise économique en raison du Covid, en a profité pour suivre un business plan et une formation création d’entreprise à la Chambre des métiers et de l’artisanat de Tours. C’est ainsi qu’il a suivi sa fille, étudiante en 2e année en droit mais démotivée, dans cette aventure commerciale.</p>
        
    </div>
 </div>
</section></br>


<section>
  <div class="container">
    <div class="row">
        <div class="col-7">
            <h3>En compagnie de chats à adopter</h3>
            <p style="text-align: justify; font-size: 1.35rem;  margin-top: 20px">Il était une fois, dans un quartier pittoresque d'une ville animée, un endroit mystérieux appelé "La Cour des Chats". C'était bien plus qu'un simple bar - c'était un sanctuaire pour les amoureux des félins et les âmes en quête de réconfort.</p>
            <p>Il était une fois, dans un quartier pittoresque d'une ville animée, un endroit mystérieux appelé "La Cour des Chats". C'était bien plus qu'un simple bar - c'était un sanctuaire pour les amoureux des félins et les âmes en quête de réconfort.</p>

            <p style="text-align: justify; font-size: 1.35rem;  margin-top: 20px">À première vue, on aurait pu penser que c'était juste un café ordinaire, mais dès que l'on franchissait ses portes, on était enveloppé par une atmosphère magique et apaisante. Des chats de toutes formes et de toutes tailles se prélassaient sur des coussins moelleux, se prélassaient sur des étagères perchées en hauteur, ou bien se faufilaient avec grâce entre les jambes des clients.</p>

            <p style="text-align: justify; font-size: 1.35rem;  margin-top: 20px">Ce qui rendait vraiment La Cour des Chats unique, c'était sa mission. Non seulement ils servaient du café et des pâtisseries délicieuses, mais ils offraient également une opportunité incroyable : adopter un compagnon félin. Chaque chat résident avait son propre charme, sa propre histoire et son propre caractère. Certains étaient timides et doux, d'autres étaient intrépides et espiègles, mais tous étaient prêts à offrir leur amour inconditionnel à celui ou celle qui voudrait bien les accueillir dans leur foyer.</p>

            <p style="text-align: justify; font-size: 1.35rem;  margin-top: 20px">Mais ce n'était pas tout. Les propriétaires de La Cour des Chats avaient une vision encore plus grande. Ils voulaient que leur bar soit un lieu de rencontre pour les amoureux des chats, même pour ceux qui ne pouvaient pas en adopter un chez eux. Ainsi, ils accueillaient chaleureusement les visiteurs qui souhaitaient simplement passer du temps avec ces adorables boules de poils. Que ce soit pour une pause relaxante après une journée stressante ou simplement pour profiter de la compagnie des chats, tout le monde était le bienvenu à La Cour des Chats.</p>

            <p style="text-align: justify; font-size: 1.35rem;  margin-top: 20px">Et c'est ainsi que, grâce à l'amour et à la passion de ses propriétaires, La Cour des Chats était devenue bien plus qu'un simple bar - c'était devenu un refuge pour les âmes en quête de réconfort, un foyer pour les félins errants et un lieu de rencontre pour les amoureux des chats de tous horizons.</p>
        </div>
    </div>
 </div>
</section></br>


 <section>
  <div class="product-container">
        <div class="image-box">
            <div class="product-item">
                <img class="resized-image" src="{{ asset('image/.png') }}" alt="#">
            </div>
        </div>

        <div class="image-box">
            <div class="product-item">
                <img class="resized-image" src="{{ asset('image/.png') }}" alt="#">
            </div>
        </div>

        <div class="image-box">
            <div class="product-item">
                <img class="resized-image" src="{{ asset('image/.png') }}" alt="#">
            </div>
        </div>
        
        <div class="image-box">
            <div class="product-item">
                <img class="resized-image" src="{{ asset('image/.png') }}" alt="#">
            </div>
        </div>
    </div></br>
 </section>


{% endblock %}
