{% extends 'base.html.twig' %}

{% block title %}Concept{% endblock %}

{% block body %}


<div class="containerr">
    <img src="{{ asset('image/ban/concept.png') }}" alt="Texte alternatif" class="img-fluid mx-auto d-block" style="width: 90%; border-radius: 60px; "></bt
   
    <div class="container">
        <p style="text-align: center; font-size: 1.15rem; margin-top: 10px;">Un bar à chats, tenu par un père et sa fille, vient tout juste d’ouvrir dans le centre de Tours. Boissons, petite restauration et adoption de petits félins possible.</p>
        <hr class="separator" style="border: 1; border-top: 13px solid #8B4513; margin: 2rem 0; margin-top: 50px;">  
    </div>
    
</div>


<section>
    <div class="container">
        <div class="row">
            <div class="col-7">
                <p style="text-align: justify; font-size: 1.15rem;  margin-top: 70px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>  
             <div class="col-5 d-flex align-items-center">
                <img src="{{ asset('image/.png') }}" alt="" class="img-fluid">
            </div>
        </div>
    </div>
 </section></br>

 <section>
 <div class="container">
    <div class="row">
        <p style="text-align: center; font-size: 1.50rem;  margin-top: 10px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</div>
    
 </section></br>

 <section>
    <div class="container">
        <div class="row">
             <div class="col-5 d-flex align-items-center">
                <img src="{{ asset('image/.png') }}" alt="" class="img-fluid">
            </div>      
             <div class="col-7">
                <p style="text-align: justify; font-size: 1.15rem;  margin-top: 70px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>  

        </div>
    </div>
 </section></br>

 <section>
  <div class="container">
    <div class="row">
        <p style="text-align: center; font-size: 1.50rem;  margin-top: 10px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
 </div>
</section></br>

 <section>
  <div class="product-container">
            <div class="image-box">
                <div class="product-item">
                    <img class="resized-image" src="{{ asset('image/.png') }}" alt="#">
                </div>
            </div>

            <div class="image-box">
                <div class="product-item">
                    <img class="resized-image" src="{{ asset('image/.png') }}" alt="#">
                </div>
            </div>

            <div class="image-box">
                <div class="product-item">
                    <img class="resized-image" src="{{ asset('image/.png') }}" alt="#">
                </div>
            </div>
            
            <div class="image-box">
                <div class="product-item">
                    <img class="resized-image" src="{{ asset('image/.png') }}" alt="#">
                </div>
            </div>
        </div></br>
 </section>


{% endblock %}
