{% extends 'base.html.twig' %}

{% block title %}Concept{% endblock %}

{% block body %}


<div class="example-wrapper">
    <img src="{{ asset('image/ban/concept.png') }}" alt="Texte alternatif" style="width: 100%; margin-bottom: 20px;">   <br>
   
    <div class="container">
        <p style="text-align: center;">lLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </div>
    <hr class="separator" style="border: 1; border-top: 13px solid #8B4513; margin: 2rem 0;">
</div>


<section>
    <div class="container">
        <div class="row">
            <div class="col-7">
                <p style="text-align: justify; font-size: 1.15rem;  margin-top: 70px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>  
             <div class="col-5 d-flex align-items-center">
                <img src="{{ asset('image/.png') }}" alt="" class="img-fluid">
            </div>
        </div>
    </div>
 </section></br>

 <section>
 <div class="container">
    <div class="row">
        <p style="text-align: center; font-size: 1.50rem;  margin-top: 10px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
</div>
    
 </section></br>

 <section>
    <div class="container">
        <div class="row">
             <div class="col-5 d-flex align-items-center">
                <img src="{{ asset('image/.png') }}" alt="" class="img-fluid">
            </div>      
             <div class="col-7">
                <p style="text-align: justify; font-size: 1.15rem;  margin-top: 70px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>  

        </div>
    </div>
 </section></br>

 <section>
  <div class="container">
    <div class="row">
        <p style="text-align: center; font-size: 1.50rem;  margin-top: 10px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
 </div>
</section></br>

 <section>
  <div class="product-container">
            <div class="image-box">
                <div class="product-item">
                    <img class="resized-image" src="{{ asset('image/.png') }}" alt="#">
                </div>
            </div>

            <div class="image-box">
                <div class="product-item">
                    <img class="resized-image" src="{{ asset('image/.png') }}" alt="#">
                </div>
            </div>

            <div class="image-box">
                <div class="product-item">
                    <img class="resized-image" src="{{ asset('image/.png') }}" alt="#">
                </div>
            </div>
            
            <div class="image-box">
                <div class="product-item">
                    <img class="resized-image" src="{{ asset('image/.png') }}" alt="#">
                </div>
            </div>
        </div></br>
 </section>


{% endblock %}
