{% extends 'base.html.twig' %}

{% block title %}Les chats{% endblock %}

{% block body %}
<style>

</style>

<div class="content">
    <img src="{{ asset('image/ban/chats.png') }}" alt="Texte alternatif" class="img-fluid mx-auto d-block" style="width: 90%; border-radius: 60px; ">   <br>
   
    <div class="container">
        <p style="text-align: center;">Au cœur de notre établissement, vous trouverez des amis à quatre pattes tout aussi accueillants que nos boissons et gourmandises. Chez La Cour des Chats, nous avons le plaisir d'accueillir une joyeuse bande de félins, prêts à vous offrir compagnie et câlins tout au long de votre visite </p>
    </div>
    <hr class="separator" style="border: 1; border-top: 13px solid #8B4513; margin: 2rem 0;">
</div></br>

<section>
    <div class="container">
        <h3>Rencontrez nos Adorables Compagnons</h3>
        <p style="text-align: justify;">Nos chats résidents sont de véritables stars de notre bar. Amicaux, curieux et toujours prêts à recevoir des caresses, ils ajoutent une touche chaleureuse et ludique à notre atmosphère. Que vous soyez amateur de ronronnements apaisants ou simplement en quête d'un moment de détente entouré de douceur, nos chats sont là pour vous accueillir à bras (ou plutôt, à pattes) ouverts.</p>
    </div></br>
     <div class="container">
        <div class="image-container" style="width: 100%; height: 400px; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; margin: 10px 0;">
            <img src="{{ asset('image/chats/lila.png') }}" alt="Image 1" style="width: 225px; height: 230px; margin-right: 10px;">
            <img src="{{ asset('image/chats/leon.png') }}" alt="Image 2" style="width: 225px; height: 230px; margin-right: 10px;">
            <img src="{{ asset('image/chats/Topaze.png') }}" alt="topaze" style="width: 225px; height: 230px; margin-right: 10px;">
                <div style="width: 100%; height: 15px;"></div>
            <img src="{{ asset('image/chats/titine.png') }}" alt="titine" style="width: 225px; height: 230px; margin-right: 10px;">
            <img src="{{ asset('image/chats/Tchoupi.png') }}" alt="tchoupi" style="width: 225px; height: 230px; margin-right: 10px;">
            <img src="{{ asset('image/chats/Thanos.png') }}" alt="thanos" style="width: 225px; height: 230px; margin-right: 10px;">
        </div>
     </div></br>
   
   
</section></br>
<section>
    <div class="container">
        <h3>Des Chats à Adopter</h3>
        <p style="text-align: justify;">Nous croyons en l'importance de donner une seconde chance aux animaux de compagnie. C'est pourquoi tous nos chats résidents sont disponibles à l'adoption. Si l'un d'entre eux vous a particulièrement séduit, n'hésitez pas à vous renseigner auprès de notre équipe sur le processus d'adoption. Non seulement vous trouverez un compagnon fidèle et affectueux, mais vous offrirez également une nouvelle vie à un chat qui le mérite.</p>
    </div></br>
    <div class="container">
        <h3>Une Expérience Unique</h3>
        <p style="text-align: justify;">La présence de nos amis félins fait partie intégrante de l'expérience La Cour des Chats. Que vous soyez venu pour déguster une boisson maison, savourer une gourmandise délicieuse ou simplement passer un bon moment entre amis, nos chats seront là pour rendre votre visite inoubliable.</p>
    </div>
     <div class="container">
        <h3>Engagez-vous à Nos Côtés</h3>
        <p style="text-align: justify;">En adoptant l'un de nos chats résidents, vous faites bien plus que trouver un nouvel ami à poils. Vous contribuez également à soutenir notre engagement envers le bien-être animal. Chez La Cour des Chats, nous sommes fiers de jouer un rôle dans la sensibilisation à l'adoption responsable et à la protection des animaux de compagnie.</p>
    </div></br>
    <div class="container">
        <h3>Venez nous Rendre Visite</h3>
        <p style="text-align: justify;">Que vous soyez un amoureux des chats ou simplement curieux de découvrir une nouvelle expérience, nous vous invitons à venir rencontrer nos adorables résidents à La Cour des Chats. Vous repartirez peut-être avec bien plus qu'une simple tasse de café - vous pourriez trouver votre nouveau meilleur ami à quatre pattes.</br>

        N'attendez plus pour vivre une expérience unique en compagnie de nos charmants chats et envisager l'adoption d'un compagnon à poils aimant. La Cour des Chats vous promet des moments de tendresse et de complicité à chaque visite.</p>
    </div>

</section>
{% endblock %}
