{% extends 'base.html.twig' %}

{% block title %}Les chats{% endblock %}

{% block body %}


<section>
      <div class="ban" style="position: relative;"> 
           <img src="{{ asset('image/ban/chats.png') }}" alt="Texte alternatif" class="img-fluid mx-auto d-block" style="width: 90%; border-radius: 60px; ">
      </div> 
</section>

    <div class="container">
        <p style="text-align: center;">Au cœur de notre établissement, vous trouverez des amis à quatre pattes tout aussi accueillants que nos boissons et gourmandises. Chez La Cour des Chats, nous avons le plaisir d'accueillir une joyeuse bande de félins, prêts à vous offrir compagnie et câlins tout au long de votre visite </p>
    </div>
    <hr class="separator" style="border: 1; border-top: 13px solid #8B4513; margin: 2rem 0;">

<section>
    <div class="container">
        <h3 style="text-align: center;">Rencontrez nos Adorables Compagnons</h3>
        <p style="text-align: justify;">Nos chats résidents sont de véritables stars de notre bar. Amicaux, curieux et toujours prêts à recevoir des caresses, ils ajoutent une touche chaleureuse et ludique à notre atmosphère. Que vous soyez amateur de ronronnements apaisants ou simplement en quête d'un moment de détente entouré de douceur, nos chats sont là pour vous accueillir à bras (ou plutôt, à pattes) ouverts.</p>
    </div></br>
     <div class="container">
        <div class="image-container" style="width: 100%; height: 400px; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; margin: 10px 0;">
            <img src="{{ asset('image/chats/lila.png') }}" alt="Image 1" style="width: 225px; height: 230px; margin-right: 10px;">
            <img src="{{ asset('image/chats/leon.png') }}" alt="Image 2" style="width: 225px; height: 230px; margin-right: 10px;">
            <img src="{{ asset('image/chats/Topaze.png') }}" alt="topaze" style="width: 225px; height: 230px; margin-right: 10px;">
                <div style="width: 100%; height: 15px;"></div>
            <img src="{{ asset('image/chats/titine.png') }}" alt="titine" style="width: 225px; height: 230px; margin-right: 10px;">
            <img src="{{ asset('image/chats/Tchoupi.png') }}" alt="tchoupi" style="width: 225px; height: 230px; margin-right: 10px;">
            <img src="{{ asset('image/chats/Thanos.png') }}" alt="thanos" style="width: 225px; height: 230px; margin-right: 10px;">
        </div>
     </div></br>
   
   
</section></br>

<section>
    <div class="container">
        <div class="card">
            <h2>Des Chats à Adopter</h2>
            <button class="toggle-details" data-target="details-1">Plus de détails</button>
            <div class="details" id="details-1">
                <p>Nous croyons en l'importance de donner une seconde chance aux animaux de compagnie. C'est pourquoi tous nos chats résidents sont disponibles à l'adoption. Si l'un d'entre eux vous a particulièrement séduit, n'hésitez pas à vous renseigner auprès de notre équipe sur le processus d'adoption. Non seulement vous trouverez un compagnon fidèle et affectueux, mais vous offrirez également une nouvelle vie à un chat qui le mérite.
                </p>
            </div>
        </div>
        <div class="card">
            <h2>Engagez-vous à Nos Côtés</h2>
            <button class="toggle-details" data-target="details-2">Plus de détails</button>
            <div class="details" id="details-2">
                <p>En adoptant l'un de nos chats résidents, vous faites bien plus que trouver un nouvel ami à poils. Vous contribuez également à soutenir notre engagement envers le bien-être animal. Chez La Cour des Chats, nous sommes fiers de jouer un rôle dans la sensibilisation à l'adoption responsable et à la protection des animaux de compagnie.
                </p>
            </div>
        </div>
        <div class="card">
            <h2>Venez nous Rendre Visite</h2>
            <button class="toggle-details" data-target="details-3">Plus de détails</button>
            <div class="details" id="details-3">
                <p>Que vous soyez un amoureux des chats ou simplement curieux de découvrir une nouvelle expérience, nous vous invitons à venir rencontrer nos adorables     résidents à La Cour des Chats. Vous repartirez peut-être avec bien plus qu'une simple tasse de café - vous pourriez trouver votre nouveau meilleur ami à quatre pattes.
                N'attendez plus pour vivre une expérience unique en compagnie de nos charmants chats et envisager l'adoption d'un compagnon à poils aimant. La Cour des Chats vous promet des moments de tendresse et de complicité à chaque visite.
                </p>
            </div>
        </div>
    </div>
</section>


<footer style="background-color: black; color: white; padding: 20px; display: flex; justify-content: space-between; align-items: flex-start;">
    <!-- Logo de la Cour des Chats -->
    <div style="text-align: left;">
        <img src="{{ asset('image/footer.png') }}" alt="Logo de la Cour des Chats" style="width: 100px;">
        <p>© 2024 - La Cour des Chats</p>
    </div>

    <!-- Liens  -->
    <div style="text-align: center; width: 25%;">
        <h3>Liens utiles</h3>
        <ul style="list-style-type: none;">
            <li><a href="#accueil" style="color: white; text-decoration: none;">Accueil</a></li>
            <li><a href="#services" style="color: white; text-decoration: none;">Services</a></li>
            <li><a href="#tarifs" style="color: white; text-decoration: none;">Tarifs</a></li>
            <li><a href="#contact" style="color: white; text-decoration: none;">Contact</a></li>
        </ul>
    </div>

    <!-- Carte  -->
    <div style="text-align: right; width: 30%;">
        <h3>Nous trouver</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2746.7746384183043!2d0.6891786160528681!3d47.39081563373817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47fbeafa472f2a79%3A0x292585c8a66c3aa4!2s18%20Rue%20Gambetta%2C%2037000%20Tours!5e0!3m2!1sen!2sfr!4v1642957881533!5m2!1sen!2sfr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</footer>

{% endblock %}
