<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
       
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
       

       
        {% block stylesheets %}
         <link rel="stylesheet" href="{{ asset('styles/base.css') }}">
         <link rel="stylesheet" href="{{ asset('styles/atelier.css') }}">
         <link rel="stylesheet" href="{{ asset('styles/chats.css') }}">
         <link rel="stylesheet" href="{{ asset('styles/accueil.css') }}">
         <link rel="stylesheet" href="{{ asset('styles/contact.css') }}">
         <link rel="stylesheet" href="{{ asset('styles/reservation.css') }}">
         <link rel="stylesheet" href="{{ asset('styles/table.css') }}">
         <link rel="stylesheet" href="{{ asset('styles/tarif.css') }}">
         <link rel="stylesheet" href="{{ asset('styles/concept.css') }}">
        {% endblock %}
    </head>
    <body>
                   {# -- Navbar -- #}
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                         <a class="navbar-brand" href="{{ path('app_home') }}" >
                        <img src="{{ asset('image/ban/logo_n-removebg-preview.png') }}" alt="Logo de La Cour Des Chats">
                         </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor04" aria-controls="navbarColor04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor04">
                    <ul class="navbar-nav me-auto">
                         <li class="nav-item">
                        <a class="nav-link active" href="{{path('app_home')}}">Accueil
                            <span class="visually-hidden">(current)</span>
                        </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('app_tarif')}}">Tarif</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('app_chats')}}">Les chats</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('app_concept')}}">Concept</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('app_atelier')}}">Atelier</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('app_reservations')}}">Réserver</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('app_contact')}}">Contact</a>
                        </li>
                    </ul>
                    <form class="d-flex">     
                            {% if 'ROLE_ADMIN' in app.user.roles %}
                            <button class-'profils'>
                                <a href="{{path("app_profils")}}">Les profils</a>
                            </button>
                            {% endif %}
                        {% if app.user %} 
                            <button class='profils'>
                                <a href="{{path('app_profil')}}"> Mon profil</a>
                                <button class=' logout'>
                                    <a href-"{{path('app_logout')}}">Déconnexions</a>
                                </button>
                            {# <div>
                                <a class="btn ms-auto btn-sm btn-dark btn-lg " href="{{path('app_logout')}}"> Deconnexion </a>  
                            </div>  #}
                            {% else %}
                            <div>
                                <a  class="btn ms-auto btn-sm btn-dark btn-lg ms-auto" href="{{path('app_register')}}"> Inscription  </a>
                                <a class="btn btn-sm btn-dark btn-lg ms-auto" href="{{path('app_login')}}"> Connexion  </a>
                            </div>
                            {% endif %} 
                    </form>
                </div>
            </div>
         </nav>


        
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
           
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
       
            
            {% block body %}{% endblock %}


                {# -- Footer -- #}
        {% if app.request.attributes.get('_route') not in ['app_register', 'app_login', 'app_reservations'] %}
        <div class="footer-1">
        <footer class="footer">
            <!-- Logo de la Cour des Chats -->
            <div>
                <img src="{{ asset('image/footer.png') }}" alt="Logo de la Cour des Chats" >
                <p>© 2024 - La Cour des Chats</p>
            </div>

            <!-- Liens  -->
            <div>
                <h3>Liens utiles</h3>
                <ul>
                    <li><a href="#accueil">Accueil</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#tarifs">Tarifs</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>

            <!-- Carte  -->
            <div>
                <h3>Nous trouver</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2746.7746384183043!2d0.6891786160528681!3d47.39081563373817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47fbeafa472f2a79%3A0x292585c8a66c3aa4!2s18%20Rue%20Gambetta%2C%2037000%20Tours!5e0!3m2!1sen!2sfr!4v1642957881533!5m2!1sen!2sfr"></iframe>
            </div>
        </footer>
        </div>
        {% endif %}

    </body>
</html>
