{% extends 'base.html.twig' %}

{% block title %}Hello MenuController!{% endblock %}

{% block body %}

 <link rel="stylesheet" href="{{ asset('styles/app.css') }}">

    <div class="example-wrapper">
        <img src="{{ asset('image/ban/menu.png') }}" alt="bannière" style=style="display: block; margin: 0 auto; width: 75px; height: auto;">  
    
            <div class="container"> </br>
                <p style="text-align: center;">lLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
        <hr class="separator" style="border: 1; border-top: 13px solid #8B4513; margin: 2rem 0;">
    </div>

<div class="container">
  <h1>Appréciez un nouveau style de café et d’une boisson</h1>
    <p style='text-align: center;'>Explorez toutes les saveurs d'une bonne boisson avec nous. Il y a toujours une nouvelle tasse qui vaut la peine d'être dégustée</p> </br>
    
  
        <div class="product-container">
            <div class="product-box">
                <div class="product-item">
                    <img class="resized-image" src="{{ asset('image/boisson/La_duchesse_Asahi.png') }}" alt="Milk Shake Cappuccino">
                    <h3>La Duchesse Asahi</h3>
                    <p>$8.50</p>
                    <button>Order Now</button>
                </div>
            </div>

            <div class="product-box">
                <div class="product-item">
                    <img class="resized-image" src="{{ asset('image/boisson/chocolat_viennois_classique.png') }}" alt="Milk Shake">
                    <h3>Chocolat Viennois </h3>
                    <p>$8.50</p>
                    <button>Order Now</button>
                </div>
            </div>

            <div class="product-box">
                <div class="product-item">
                    <img class="resized-image" src="{{ asset('image/boisson/frappuccino.png') }}" alt="frappuccino">
                    <h3>Frappuccino</h3>
                    <p>$8.50</p>
                    <button>Order Now</button>
                </div>
            </div>

            <div class="product-box">
                <div class="product-item">
                    <img class="resized-image" src="{{ asset('image/boisson/chocolat_chaud_pain_d`epice.png') }}" alt="Product 4">
                    <h3>Chocolat Chaud</h3>
                    <p>$8.50</p>
                    <button>Order Now</button>
                </div>
            </div>
            
        </div>



</div>
<div class="container">
   
</div>
{% endblock %}
