{% extends 'base.html.twig' %}

{% block title %}Carte et Tarif{% endblock %}

{% block body %}

<!-- Section pour la bannière -->
<section>
  <!-- Conteneur pour la bannière -->
  <div class="ban"> 
    <!-- Image de la bannière -->
    <img src="{{ asset('image/ban/tarif.png') }}" alt="Texte alternatif" class="img-fluid mx-auto d-block"> 
  </div> 
</section>

<!-- Section pour la description -->
<section>
  <div class="container">
    <p class="description">Que vous soyez à la recherche de nouveauté ou que vous souhaitiez savourer vos classiques préférés, notre catégorie Boissons est conçue pour répondre à toutes vos envies. Chaque produit est sélectionné avec soin pour garantir une expérience de dégustation optimale, dans le respect de la qualité et de l'authenticité. Mais nous proposons aussi de la Gourmandises qui est un véritable paradis pour les amateurs de délices sucrés et salés. C'est une variété de gourmandises faites maison, ainsi que des classiques irrésistibles, afin de satisfaire toutes vos envies gourmandes</p>  
  </div>
  <hr class="separator" style="border: 1; border-top: 13px solid #8B4513; margin: 2rem 0;">
</section>

<!-- Section pour les boissons -->
<section>
  <!-- Conteneur pour les boissons -->
  <div class="container">
    <!-- Titre et sous-titre -->
    <h1>Appréciez un nouveau style de café et de boisson</h1>
    <h5>Explorez toutes les saveurs d'une bonne boisson avec nous. Il y a toujours une nouvelle tasse qui vaut la peine d'être dégustée</h5>

    <!-- Ligne 1 des produits -->
    <div class="product-container">
      <div class="product-box">
        <div class="product-item">
          <img class="resized-image" src="{{ asset('image/boisson/La_duchesse_Asahi.png') }}" alt="image boisson Milk Shake Cappuccino">
          <h4>La Duchesse Asahi</h4>
          <p>8€</p>
        </div>
      </div>
      <div class="product-box">
        <div class="product-item">
          <img class="resized-image" src="{{ asset('image/boisson/chocolat_viennois_classique.png') }}" alt="image boisson Milk Shake">
          <h4>Chocolat Viennois </h4>
          <p>8€</p>
        </div>
      </div>
      <div class="product-box">
        <div class="product-item">
          <img class="resized-image" src="{{ asset('image/boisson/frappuccino.png') }}" alt="image boisson frappuccino">
          <h4>Frappuccino</h4>
          <p>8€</p>
        </div>
      </div>
      <div class="product-box">
        <div class="product-item">
          <img class="resized-image" src="{{ asset('image/boisson/chocolat_chaud_pain_d`epice.png') }}" alt="image boisson ">
          <h4>Chocolat Chaud</h4>
          <p>8€</p>
        </div>
      </div>
    </div>

    <!-- Ligne 2 des produits -->
    <div class="product-container">
      <div class="product-box">
        <div class="product-item">
          <img class="resized-image" src="{{ asset('image/boisson/Comtesse.png') }}" alt="image boisson Comtesse Câline">
          <h4>La Comtesse Câline</h4>
          <p>8€</p>
        </div>
      </div>
      <div class="product-box">
        <div class="product-item">
          <img class="resized-image" src="{{ asset('image/boisson/frappuccino_caramel.png') }}" alt="image boisson frappuccino caramel">
          <h4>Frappuccino </h4>
          <p>8€</p>
        </div>
      </div>
      <div class="product-box">
        <div class="product-item">
          <img class="resized-image" src="{{ asset('image/boisson/chocolat_chaud.png') }}" alt="image boisson chocolat chaud">
          <h4>Chocolat Chaud</h4>
          <p>8€</p>
        </div>
      </div>
      <div class="product-box">
        <div class="product-item">
          <img class="resized-image" src="{{ asset('image/boisson/chocolat_chaud_rose.png') }}" alt="image boisson chocolat chaud rose">
          <h4>Chocolat Chaud</h4>
          <p>8€</p>
        </div>
      </div>
    </div>

    <!-- Ligne 3 des produits -->
    <div class="product-container">
      <div class="product-box">
        <div class="product-item">
          <img class="resized-image" src="{{ asset('image/boisson/jus_d’ananas.png') }}" alt="image boisson jus d’ananas">
          <h4>Jus D’Ananas</h4>
          <p>8€</p>
        </div>
      </div>
      <div class="product-box">
        <div class="product-item">
          <img class="resized-image" src="{{ asset('image/boisson/la_loere.png') }}" alt="image Boisson la loère">
          <h4>La Loère</h4>
          <p>4€</p>
        </div>
      </div>
      <div class="product-box">
        <div class="product-item">
          <img class="resized-image" src="{{ asset('image/boisson/sirop.png') }}" alt="image boisson Sirop">
          <h4>Sirop</h4>
          <p>3.50€</p>
        </div>
      </div>
      <div class="product-box">
        <div class="product-item">
          <img class="resized-image" src="{{ asset('image/boisson/chocolat_chaud_pain_d`epice.png') }}" alt="image boisson chocolat chaud pain d`epice ">
          <h4>Chocolat Chaud</h4>
          <p>8€</p>
        </div>
      </div>
    </div>

    <!-- Description des boissons maison -->
    <div class="container">
      <h3>Nos Boissons Maison</h3>
      <p class="description">Découvrez notre gamme de boissons faites maison, élaborées avec amour et passion. Utilisant des ingrédients frais et de qualité, nous créons des boissons uniques qui captivent les sens. Nos recettes artisanales sont le fruit de nombreuses expérimentations pour vous offrir des saveurs authentiques et surprenantes. Que vous ayez envie d'un thé glacé rafraîchissant, d'une limonade pétillante ou d'un jus de fruits frais, chaque boisson maison est préparée pour vous procurer une expérience gustative inoubliable.</p>
    </div>

    <!-- Description des boissons de marque -->
    <div class="container">
      <h3>Nos Boissons de Marque</h3>
      <p class="description">Pour ceux qui préfèrent les valeurs sûres, nous proposons également une sélection de boissons de marques reconnues. Profitez de la qualité et de la fiabilité de vos marques favorites, soigneusement choisies pour leur excellence et leur popularité. Que ce soit des sodas pétillants, des jus de fruits pressés, ou des boissons énergétiques, vous trouverez certainement ce que vous cherchez parmi notre offre variée.</p>
    </div>
  </div>
  <hr class="separator" style="border: 1; border-top: 13px solid #8B4513; margin: 2rem 0;">
</section>

<!-- Section pour les gourmandises -->
<section>
  <!-- Conteneur pour les gourmandises -->
  <div class="container">
    <!-- Titre et sous-titre -->
    <h1>Appréciez un nouveau style de Gourmandise</h1>
    <h5>Explorez toutes les saveurs d'une bonne Gourmandise avec nous. Il y a toujours une nouvelle chause qui vaut la peine d'être dégustée</h5>

    <!-- Ligne 1 des produits -->
    <div class="product-container">
      <div class="product-box">
        <div class="product-item">
          <img class="resized-image" src="{{ asset('image/gourmandise/bagel.png') }}" alt="image gourmandise bagel">
          <h4>Bagel</h4>
          <p>4€</p>
        </div>
      </div>
      <div class="product-box">
        <div class="product-item">
          <img class="resized-image" src="{{ asset('image/gourmandise/bagel_vegan.png') }}" alt="image gourmandise bagel vegan">
          <h4>Bagel Vegan</h4>
          <p>4€</p>
        </div>
      </div>
      <div class="product-box">
        <div class="product-item">
          <img class="resized-image" src="{{ asset('image/gourmandise/Pancake_myrtilles.png') }}" alt="image gourmandise Pancake myrtilles">
          <h4>Pancake Myrtilles</h4>
          <p>4€</p>
        </div>
      </div>
      <div class="product-box">
        <div class="product-item">
          <img class="resized-image" src="{{ asset('image/gourmandise/Pancakes.png') }}" alt="image gourmandise Pancake">
          <h4>Pancake</h4>
          <p>4€</p>
        </div>
      </div>
    </div>

    <!-- Ligne 2 des produits -->
    <div class="product-container">
      <div class="product-box">
        <div class="product-item">
          <img class="resized-image" src="{{ asset('image/gourmandise/brookie.png') }}" alt="image gourmandise Brookie">
          <h4>Brookie</h4>
          <p>4€</p>
        </div>
      </div>
      <div class="product-box">
        <div class="product-item">
          <img class="resized-image" src="{{ asset('image/gourmandise/fondant_au_chocolat.png') }}" alt="image gourmandise fondant au chocolat">
          <h4>Fondant au Chocolat </h4>
          <p>4€</p>
        </div>
      </div>
      <div class="product-box">
        <div class="product-item">
          <img class="resized-image" src="{{ asset('image/gourmandise/cookie.png') }}" alt="image gourmandise cookie au chocolat">
          <h4>Cookie au Chocolat</h4>
          <p>4€</p>
        </div>
      </div>
      <div class="product-box">
        <div class="product-item">
          <img class="resized-image" src="{{ asset('image/gourmandise/muffins_au_chocolat.png') }}" alt="image gourmandise muffins au chocolat">
          <h4>Muffins au Chocolat</h4>
          <p>4€</p>
        </div>
      </div>
    </div>

    <!-- Description des bagels -->
    <div class="container">
      <h3>Nos Bagels</h3>
      <p class="description">Pour une pause salée, découvrez notre sélection de bagels. Nous proposons des bagels classiques, garnis de délicieux ingrédients pour satisfaire les amateurs de saveurs traditionnelles. Pour nos clients végétariens, nous avons également une gamme de bagels végétariens, composés de produits frais et savoureux, sans compromis sur le goût. Chaque bagel est préparé avec soin pour garantir une expérience culinaire riche et satisfaisante.</p>
    </div>

    <!-- Description des gâteaux -->
    <div class="container">
      <h3>Nos Gâteaux</h3>
      <p class="description">Chez La Cour des Chats, nous savons que chaque occasion mérite une touche sucrée. Nos gâteaux, élaborés avec amour et expertise, sont parfaits pour célébrer vos moments spéciaux ou simplement pour vous offrir une douce pause gourmande. Que vous soyez adepte du chocolat intense, des fruits frais ou des saveurs crémeuses, notre sélection de gâteaux saura combler toutes vos envies.</p>
    </div>
    </div></br> 
</section>





{% endblock %}
